@font-face {
    font-family: 'Consolas';
    src: url('../fonts/subset-Consolas.woff2') format('woff2'),
        url('../fonts/subset-Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Inter';
    src: url('../Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p {
    font-family:"Consolas";
    font-size:16px;
}
html,body{
    margin:0;
    padding:0;
}
body {
    background-image: url(images/canvas-texture.jpg);
    background-size: 100%;
}

.flex-container{
    display: flex;
    font-family:"Consolas";
    /* border:solid pink 2px; */
}

.flex-container-col{
    display:flex;
    flex-direction:column;    
}

.flex-container-col{
    display:flex;
    font-family:"Consolas";
    flex-direction:column;
}

.main-flex-container-col{
    display:flex;
    font-family:"Consolas";
    flex-direction:column;
    margin-top:auto;
    margin-bottom:auto;
}


.flex-box{   
    flex:1;
}
.main-flex-container{
    display:flex;
    height:100vh;
}


.container{
    font-family: "Consolas";
    /* border:solid 2px black; */
}
.heading{
    margin-left:30px;
}
.heading img{
    height: 100px;
}

.heading-container{
    border:solid 2px blue;
}

.gif-flex-box{
    display:absolute;
    top:0;
    left:0;
}

.gif {
    justify-content:center;
    align-items:center;
    height:100%;
    width:500px;
    background-image: url("images/ClothMaterial_Layer1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    animation: play 5s infinite steps(1);
    animation-play-state:paused;
}
.gif:hover {
    animation-play-state:running;
}

@keyframes play {
    0%   { background-image: url('images/ClothMaterial_Layer1.jpg');} 
    7.7%  { background-image: url('images/ClothMaterial_Layer2.jpg'); }
    15.4%  { background-image: url('images/ClothMaterial_Layer3.jpg'); }
    23.1%  { background-image: url('images/ClothMaterial_Layer4.jpg'); }
    30.8%  { background-image: url('images/ClothMaterial_Layer5.jpg'); }
    38.5%  { background-image: url('images/ClothMaterial_Layer6.jpg'); }
    46.2%  { background-image: url('images/ClothMaterial_Layer7.jpg'); }
    53.9% { background-image: url('images/ClothMaterial_Layer8.jpg'); }
    61.6% { background-image: url('images/ClothMaterial_Layer9.jpg'); }
    69.3% { background-image: url('images/ClothMaterial_Layer10.jpg'); }
    77% { background-image: url('images/ClothMaterial_Layer11.jpg'); }
    84.7% { background-image: url('images/ClothMaterial_Layer12.jpg'); }
    92.4% { background-image: url('images/ClothMaterial_Layer13.jpg'); }
}

.main-desc{
    margin-right:50px;
    margin-left:50px;
    margin-bottom:50px;
}

select{
    font-family: "Consolas";
    font-size:16px;
}


.text-input{
    width:200px;
    height:200px;
    font-size:16px;
}


.tag{
    flex:100%;
    display:inline;
    margin-left:auto;
    margin-right:auto;
}

.tag img{
    height:100px;
}

.main-clothtype{
    margin-left: 20px;
}

.results-clothtype{
    font-family: "Consolas";
    font-size:16px;
}

.main-tag-desc{
    display:flex;
    font-size:12px;
    color:rgb(100, 100, 100);
    margin-right:10px;
    flex-direction:column;
    /* background: -webkit-linear-gradient(#3FAEFF, #3E45FF, #969AFF,#DA8AFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.main-tag-instructions{
    font-size:14px;
    font-weight:bold;
    color:black;
}
.submit-button{
    width:100%;
    height:100%;
    /* border:solid 2px green; */
}


.results-container{
    font-family: "Inter";
}

.results-flex-container{
    display:flex;
    margin:20px;
}

.results-clothtype-inter{
    margin-left:25px;
    font-family: "Inter";
    font-size: 26px;

}

.results-clothtype-cons{
    margin-left: 2%;
    flex-grow:1;
    font-size:26px;
    font-family: "Consolas";
}

.results-row{
    display:flex;
    border-top:solid 1px gray;
    /* border:solid 2px aqua; */
}

.results-table-small{
    min-width:30%;
    background-size:cover;   
    /* border:solid 3px yellow; */
}

.results-table-small img{
    width:100%;
    object-fit:cover;
}

.results-table-large{
    margin-right:20px;
    width:60%;
    flex-grow:2;

    /* border:solid 2px red; */
}

.results-material-head{
    margin-top:15px;
    margin-left:5%;
    margin-bottom:2px;
    font-family: "Inter";
    font-size:30px;
}
.results-material-subhead{
    margin-left:5%;
    margin-bottom:5px;
    font-size:20px;
    /* border:solid 2px blue; */
}

.results-material-desc{
    margin-left:8%;
    margin-bottom:20px;
    font-family: "Inter";
    font-size:14px;
    line-height:22px;
    /* border:solid 2px purple; */
}

textarea{
    width:99%;
    resize:none;
}

input[type=submit]{
    font-family: "Inter";
    font-weight:bold;
    color:white;
    width:100%;
    height:40px;
    background-color:black;
   
}

.results-clothtype-desc{
    margin-top:10px;
    font-size:14px;
    font-family:"Consolas";
    line-height:20px;
    margin-left:20px;
}

.results-percent-error{
    margin: 100px;
    font-size:30px;
    color:rgb(94, 94, 94);
}

.results-grade{
    display:inline-block;
    margin-left:5%;

    margin-bottom:10px;
    
    padding:3px 10px 3px 10px;

    padding-right:10px;
    border-radius: 5px;

   
    text-align:center;
    text-justify:center;

    color:white;

    font-size:14px;
}

.results-ethics{
    margin-top:10px;
    padding: 5px 10px 5px 10px;
    border-radius:8px;

    background-color:lightgray;

    font-size:12px;
    line-height:18px;

}